Body {
    /* margin-left: 200px; */
    /* margin-right: 200px; */
    /* width: 960px; */

}

.wrapper{
    margin-left: 200px;
    margin-right: 200px;
    width: 960px;
}
.header{
    /* padding: 50px; */
    margin-bottom: 30px; 
    /* float: left; */
    /* clear: both; */
    /* border-width: medium; */
}
#name{
    float: left;
    background-color: #4aaaa5;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.links{
    float: right;
    /* position: relative; */
    /* left: 600px; */
    /* top: 0px; */
    padding: 10px;
    /* float: right; */
    /* clear: both; */
}

#bio{
    /* margin-top: 100px; */
    /* clear left works here while clear right does not work on the header */
    clear: both;
    /* float left sets the entire div to float as a unit, rather than each individual element */
    float: left;
    width: 650px;
}
#my-picture{
    float: left;
}
.content{
    clear: left;
    margin-top: 100px;
}
.connect{
    float: right;
    /* clear: left; */
}
