Body {
    background-image: url("../images/background.png"); 
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper{
    margin-left: 25%;
    margin-right: 25%;
    width: 960px;
}
h1{
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h2, h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}
#header{
    background: #ffffff;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 5px solid #cccccc; 
}

#name{
    float: left;
    background-color: #4aaaa5;
    padding: 15px;
    text-align: center;
}
#links{
    float: right;
    padding: 15px;
    
}


#content{
    background-color:#ffffff;
    /* margin-top: 100px; */
    /* clear left works here while clear right does not work on the header */
    clear: both;
    /* float left sets the entire div to float as a unit, rather than each individual element */
    float: left;
    width: 610px;
    padding: 20px;
  
}
#my-picture{
    float: left;
}
.portfolio1{
    float: left;
    padding: 2px;
    position: relative;
}
.portfolio2{
    float: left;
    padding: 2px;
    position: relative;
}
.portfolio3{
    float: left;
    padding: 2px;
    position: relative;
}
.portfolio4{
    float: left;
    padding: 2px;
    position: relative;
    
}
.portfolio5{
    float: left;
    padding: 2px;
    position: relative;
}

.label{
    text-align: center;
    position: absolute;
    bottom: 10px;
   
    width: 100%;
    height: 10%;
    background-color: #4aaaa5;
    color: #ffffff;
}
.form{
    width: 100%
}
#message{
    height: 200px;
}
.connect{
    padding: 20px;
    text-align: center;
    width: 230px;
    background: #ffffff;
    float: right;
    
}

#footer{
    text-align: center;
    clear: both;
    text-anchor: end;
    background-color: #666666;
    color: #ffffff;
    height: 15px;


    border-top: 5px solid #4aaaa5;
}